
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   
}

/* Here is one of many  CSS rules you will need... */
#one {
    width:25%;
    position: fixed;
    left: 0;
    border: 5px solid orange;
    padding: 5px;
    margin: 5px;
}

#two{
    width:25%;
    position: fixed;
    right: 0;
    border: 5px solid green;
    padding: 5px;
    margin: 5px;
}

#three{
    width:25%;
    position: fixed;
    left: 0;
    bottom: 0;
    border: 5px solid yellow;
    padding: 5px;
    margin: 5px;
}

#four{
    width:25%;
    position: fixed;
    right: 0;
    bottom: 0;
    border: 5px solid blue;
    padding: 5px;
    margin: 5px;
}

#link{
    text-align: center;
    color: white;
}

a{
    color: white;
    background-color: blue;
    text-decoration: none;
    font-weight: 500;
}